<div class="start-screen-bg">
  <div class="darkOverlayBorder start-screen">
    <img class="darkOverlayScreen" src="assets/img/gameover1.png" alt="game-over-screen-1" id="game-over-screen1" />
    <img class="darkOverlayScreen" src="assets/img/gameover2.png" alt="game-over-screen-2" id="game-over-screen2" />

    <!-- (clik)="" ist bei Angular wie onclick="" wie bei HTML-->
    <button id="start-btn" (click)="startNewGame()">
      <img src="assets/img/startlabel.png" alt="start-btn" />
    </button>
  </div>
</div>
