<!-- GAME CONTAINER -->
<div *ngIf="firstDataReceived" class="game-container" [class.fade-out]="game.gameOver">
  
    <app-player-container
      *ngIf="game.players.length > 0"
      [game]="game"
      [currentPlayer]="game.currentPlayer"
      [playerCount]="game.players.length">
    </app-player-container>
  
    <!-- PRELOADED NEXT COVERED CARD -->
    <img
      *ngIf="game.stack.length > 0"
      class="preload"
      src="assets/img/cards/{{ game.stack[game.stack.length - 1] }}.png">
  
    <!-- FIELD -->
    <div class="field">
      <div class="card-stack">
        <!-- BOTTOM STACK: Dynamically adjusts the CSS 'right' property for the current iterated item. -->
        <ng-container *ngFor="let card of game.cardsRightToBottomStack; let i = index">
          <img
            *ngIf="game.cardsRightToBottomStack[i] != undefined"
            (click)="takeCard()"
            [ngStyle]="{ 'right.px': (i + 1) * 5 }"
            src="assets/img/cards/card_cover.png">
        </ng-container>
  
        <!-- BOTTOM STACK: TOP CARD COVERED -->
        <img
          *ngIf="game.stack.length - game.cardsRightToBottomStack.length > 0"
          (click)="takeCard()"
          class="top-card"
          style="right: 25px"
          src="assets/img/cards/card_cover.png">
  
        <!-- TOP STACK -->
        <!-- Iterates over 'game.playedCards' using 'ngFor' and creates an 'img' for each. 'trackBy: trackByFn' 
             helps Angular render the list efficiently. Without 'trackBy', Angular would re-render every item 
             in the list whenever a change occurs. With 'trackBy', Angular uses 'trackByFn' to track which items 
             have changed and need to be re-rendered, improving performance. -->
        <ng-container *ngIf="game.playedCards.length > 0">
          <img
            *ngFor="let card of game.playedCards; trackBy: trackByFn"
            class="played-card"
            src="assets/img/cards/{{ card }}.png">
        </ng-container>
  
        <!-- CURRENTLY DRAWN FLYING CARD PLACED ON TOP STACK -->
        <!-- This 'img' element is visible when 'pickCardAnimation' is true. The 'pick-card' class is added 
             when 'pickCardAnimation' is set to true upon executing the 'takeCard' method. -->
        <img
          *ngIf="game.pickCardAnimation"
          class="pick-card"
          style="right: 25px"
          src="assets/img/cards/{{ game.currentCard }}.png">
      </div>
    </div>

  <!-- GAME INFO BOX -->
  <!-- Angular Material Component from https://material.angular.io/components/card/overview -->
  <app-game-info [card]="game.currentCard" class="pin-bottom"></app-game-info>

  <!-- CHANGE LANG BUTTON -->
  <app-flags-container></app-flags-container>

  <!-- ADD PLAYER BUTTON -->
  <!-- Angular Material Component from https://material.angular.io/components/button/overview -->
  <button 
    *ngIf="game.players.length < 11" 
    mat-fab 
    color="primary" 
    class="btn-add" 
    (click)="openDialog()">
    <mat-icon>add</mat-icon>
  </button>
</div>