.start-screen {
  background-color: #404040;
  height: 100vh;
  width: 100vw;
  /* To avoid horizontal scroll bar when width equals 100vw. */
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    height: 100vh;
    max-width: 100%;
  }

  .start-label-box {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    display: flex;
    justify-content: center;

    img {
      width: 40vw;
      /* With 'auto' the height will be set automaticly proportionally to the width. */
      height: auto;

      &:hover {
        filter: brightness(1.25);
        cursor: pointer;
      }
    }
  }
}
