.start-screen-bg {
  display: flex;
  height: 100%;
  justify-content: center;
  background-color: #404040;
}

.start-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;

  @media (max-width: 576px) {
    border: 12px solid #e6af00;
  }

  #screen1,
  #screen2 {
    max-height: 98vh;
    max-width: calc(100% - 64px);

    @media (max-width: 576px) {
      max-height: unset;
      max-width: unset;

      height: 108vh;
      max-width: auto;
      object-fit: cover;
      border: 20px solid #e6af00;
    }
  }

  @media (max-width: 1554px) {
    #screen1 {
      display: none;
    }

    #screen2 {
      display: block;
    }
  }

  @media (min-width: 1554px) {
    #screen1 {
      display: block;
    }

    #screen2 {
      display: none;
    }
  }
}

#start-btn {
  position: absolute;
  margin-top: 50%;
  max-width: 55%;
  opacity: 0.87;
  filter: brightness(0.98);
  transform: transformY(0);
  transform: scale(1);
  transition: transform 225ms ease-in;

  @media (min-width: 1554px) {
    max-width: 35%;
    margin-top: 30%;
  }

  @media (max-width: 576px) {
    margin-top: 80%;
    max-width: 73%;
  }

  &:hover {
    filter: brightness(1.07);
    opacity: 0.92;
    transform: scale(1.05);
    transform: transformY(-10px);
    cursor: pointer;
  }
}
