<div class="translate-container" [class.move-top-down]="playersSlideContainerHidden">
    <mat-card [ngClass]="{ 'arrows-players-container-hidden scroll-arrows-unvisible': playersSlideContainerHidden }" class="arrows-players-container">
        <img [class.scroll-arrow]="scrollArrowsVisable" class="scroll-arrow-unvisible" (click)="scrollByPlayerCard(-1)" src="assets/img/arrow2-left.png" />

        <div #playersContainer id="players-container" class="players-container box-shadow-unsivible" [class.players-container-hidden]="playersSlideContainerHidden" [class.box-shadow]="scrollArrowsVisable" [class.box-shadow-unsivible]="scrollArrowsVisable && playersSlideContainerHidden" (window:resize)="setScrollArrowsVisibility()">
            <div id="players-bar" class="players-bar">
                <!-- PLAYER AVATAR & NAME 
                [name] is an input variable declared in 'player.component.ts'. Its value is assigned from an array here 
                and then passed to both 'player.component.ts' and 'player.component.html'. -->
                <app-player (click)="editPlayer(i)" *ngFor="let player of game.players; let i = index; trackBy: trackByFn" [name]="player" [playerActive]="i == game.currentPlayer" [image]="game.playerImages[i]" [playersSlideContainerHidden]="playersSlideContainerHidden"></app-player>
            </div>
        </div>

        <img [class.scroll-arrow]="scrollArrowsVisable" class="scroll-arrow-unvisible" (click)="scrollByPlayerCard(+1)" src="assets/img/arrow2-right.png" />
    </mat-card>

    <mat-card class="top-down-arrow-container" [class.top-down-arrow-container-center]="playersSlideContainerHidden">
        <img [class.rotage-90-deg]="playersSlideContainerHidden" class="scroll-arrow top-down-arrow" src="assets/img/arrow2-right.png" (click)="moveDownTop()" />
        <span class="player-name" [class.player-name-hidden]="!playersSlideContainerHidden">
            <span>{{ this.game.players[currentPlayer] }}</span>
        </span>
    </mat-card>
</div>