<div class="flags"></div>

<div class="btns-flas-container" [ngStyle]="{ gap: containerVisible ? '16px' : '0' }">
  <div *ngFor="let lang of ['en', 'de', 'pl', 'hu']; let i = index">
    <button
      *ngIf="containerVisible || currentLang === lang"
      [class.currentLang]="containerVisible && currentLang === lang"
      class="btn-flag"
      (click)="setCurrentLang(lang)"
      (click)="toggleContainerVisibility()"
      mat-fab
      color="primary"
    >
      <div class="flag-container">
        <img src="assets/img/{{ lang }}-flag.png" />
      </div>
    </button>
  </div>
</div>