@import '/src/assets/css/sass_variables.scss';
// Dropdown Menu colors
$border-color: rgba(0, 0, 0, 0.6);
$background-color: rgba(255, 255, 255, 1);
.navigation {
    height: 42px;
    background-color: $sapShellColor;
    display: inline-flex;
    width: 100%;
    align-items: center;
    font-family: '72-Regular', Arial, Helvetica, sans-serif;
    color: white;
    .back-button {
        margin-left: -34px;
    }
    .navbar-nav {
        .nav-link {
            color: rgba(255, 255, 255, 0.9);
            font-size: small !important;
            &:hover {
                color: rgba(255, 255, 255, 1);
                filter: none !important;
                text-decoration: none !important;
            }
        }
        .dropdown-menu {
            margin-top: 4px !important;
            border: 1px solid $border-color;
            @media only screen and (max-width: 992px) {
                position: absolute;
                left: unset;
                right: -38px;
            }
            &::after {
                position: absolute;
                top: -6px;
                left: 68px;
                content: '';
                display: block;
                width: 0.7rem;
                height: 0.7rem;
                background-color: $background-color;
                border-top: 1px solid $border-color;
                border-right: 1px solid $border-color;
                transform: rotate(-45deg);
                z-index: -1;
            }
            li {
                a {
                    &:hover {
                        text-decoration: none !important;
                        background-color: $sapActiveColor;
                        color: $background-color;
                        filter: none !important;
                    }
                }
                margin-left: 8px;
                margin-right: 8px;
            }
        }
    }
    .secondary-title {
        font-size: 80%;
        @media only screen and (max-width: 992px) {
            display: none;
        }
    }
    .right-buttons {
        font-size: larger;

        button {
            width: 32px;
        }
    }
}
