
<!-- Dropdown -->
<div class="d-flex dropdown-large h-100 justify-content-center w-100">
    <!-- Notification Button -->
    <span class="nav-link position-relative h-100 w-100 d-flex justify-content-center align-items-center" role="button" data-bs-toggle="dropdown" data-bs-offset="8,2">
      <span class="sap-font text-white w-100">&#xe05c;</span>
      <!-- Notification Button END -->
    </span>
  
    <!-- Notification Dropdown Menu -->
    <ul class="dropdown-menu dropdown-menu-end" role="menu">
      <h5 class="text-center pt-1" i18n="@@system.information">System Information</h5>
      <hr />
  
      <div class="row">
        <div class="col mx-2">
          <div class="d-flex align-items-center">
            <label i18n="@@version">Version</label> <span class="ms-2">{{ version }}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col mx-2">
          <div class="d-flex align-items-center">
            <label i18n="@@environment">Environment</label> <span class="ms-2">{{ environment }}</span>
          </div>
        </div>
      </div>
    </ul>
  </div>