<h1 mat-dialog-title translate>Edit player</h1>
<!-- <h1 mat-dialog-title><span translate>Edit player</span></h1> -->

<div mat-dialog-content>
    <p translate>Select an avatar.</p>
    <div class="avatar-collection">
        <div (click)="selectAvatar(picture)" [class.avatarSelected]="selectedAvatar === picture" class="avatar-img-border-bg" *ngFor="let picture of game.allProfilesPictures">
            <img class="avatar-img" src="./assets/img/profile/{{ picture }}" />
        </div> 
    </div>

    <p translate>Enter the name.</p>
    <mat-form-field>
        <mat-label translate>Name</mat-label>
        <input matInput [formControl]="nameControl"/>
    </mat-form-field>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()"><span translate>Cancel</span></button>
    <button mat-button color="warn" [mat-dialog-close]="{ delete: true}" cdkFocusInitial>
        <span translate>Delete</span>
    </button>
    <button color="primary" mat-button [disabled]="!buttonEnabled" [mat-dialog-close]="{ name: nameControl.value, avatar: selectedAvatar }" cdkFocusInitial>
        <span translate>Save</span>
    </button>  
</div>