<h1 mat-dialog-title translate>Edit player</h1>
<!-- <h1 mat-dialog-title><span translate>Edit player</span></h1> -->

<div mat-dialog-content class="avatar-collection">
  <!--  [mat-dialog-close]=""" wird ein Wert beim Closen des Dialogs returnt, hier der aktuelle BildDateiName
und an in DialogEditPlayer() Methode, an dialogRef.afterClosed().subscribe((change: string) => {} 
als change Eingabeparamenter weitergegeben, d.h. hier sind 'picture' und 'change' gleich, und in der Arrow-Fn verarbeitet. -->
  <div class="avatar-img-border-bg" [mat-dialog-close]="picture" *ngFor="let picture of allProfilesPictures">
    <img class="avatar-img" src="./assets/img/profile/{{ picture }}" />
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()"><span translate>Cancel</span></button>
  <!-- Beim 'mat-dialog-close' wird die Variable 'name' aus dem ' matInput [(ngModel)]="name" 'eingegeben 
  und an ' dialogRef.afterClosed().subscribe((result) => {...}) ' in 'game.component.ts' weitergegeben. 
  ' [disabled]="name.length == 0" ' macht den Button OK unaktiv, damit man keinen leeren Namen eingeben darf

  Rote Farbe des Button from https://material.angular.io/components/button/overview  

  DELETE muss man "''" so schreiben damit dies als String Eintrag und nicht eine Variable erkannt wird. -->
  <button mat-button color="warn" [mat-dialog-close]="'DELETE'" cdkFocusInitial>
    <span translate>Delete player</span>
  </button>
</div>
