<h1 mat-dialog-title translate>Add new player</h1>

<div mat-dialog-content>
    <p translate>Select an avatar.</p>
    <div class="avatar-collection">
        <div (click)="selectAvatar(picture)" [class.avatarSelected]="selectedAvatar === picture" class="avatar-img-border-bg" *ngFor="let picture of game.allProfilesPictures">
            <img class="avatar-img" src="./assets/img/profile/{{ picture }}" />
        </div> 
    </div>

    <p translate>Enter the name.</p>
    <mat-form-field>
        <mat-label translate>Name</mat-label>
        <input matInput [(ngModel)]="name"/>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()"><span translate>Cancel</span></button>

    <!-- Using 'mat-dialog-close', the variables 'name' (from 'matInput [(ngModel)]="name"') and 
     'selectedAvatar' (set in 'selectAvatar(picture)') are passed to 'dialogRef.afterClosed()...' 
     in 'game.component.ts'. The directive '[disabled]="name.length == 0"' disables the OK button 
     to prevent submitting an empty name. -->
    <button color="primary" mat-button [disabled]="name.length == 0" [mat-dialog-close]="{ name: name, avatar: selectedAvatar }">
        <span translate>Add</span>
    </button>    
</div>