<div mat-dialog-content class="avatat-collection">
    <p>
        <span translate>One player from the last round has already started a new game with the same teammates.</span><br /><br />
        <span translate>Would you like to join?</span>
    </p>
</div>

<div mat-dialog-actions>
  <!-- The 'mat-dialog-close' is set as 'false' and passed to 'dialogRef.afterClosed()...' 
    in 'game-over-screen.component.ts'. -->
  <button mat-button color="warn" [mat-dialog-close]="false"><span translate>No</span></button>
  <!-- The 'mat-dialog-close' is set as 'true' and passed to 'dialogRef.afterClosed()...' 
    in 'game-over-screen.component.ts'. -->
  <button mat-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>
    <span translate>Yes</span>
  </button>
</div>