.avatat-collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}

.avatar-img-border-bg {
  margin: 8px;
  background-color: rgba(230, 224, 224, 0.904);
  border: double 4px transparent;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  transition: all 225ms ease-in-out;

  &:hover {
    cursor: pointer;
    filter: brightness(1.15);
    filter: drop-shadow(0px 0px 6px rgb(253, 225, 40));
    transform: scale(1.1);
  }
}

.avatar-img {
  border-radius: 100%;
  border: 1.9px solid rgb(87, 87, 87);
  width: 100%;
  height: 100%;
  object-fit: contain;
  box-sizing: border-box;
  padding: 3px;
}
