<h1 mat-dialog-title translate>Would you like to start a new round with the same players?</h1>

<div mat-dialog-content>
    <p>
        <span translate>Select the desired players to include or exclude.</span><br />
        <span translate>By default, all previous players are selected.</span><br /><br />
        <span translate>Click 'Yes' to continue with the selected players, or 'No' to start without them.</span>
    </p>

    <div class="avatar-collection">
        <div (click)="togglePlayerSelection(i)" class="avatar-name-container" *ngFor="let picture of game.playerImages; let i = index">
            <div [class.avatarSelected]="playerSelections[i]" class="avatar-img-border-bg">
                <img class="avatar-img" src="./assets/img/profile/{{ picture }}" />
            </div>
            <span class="player-name" [class.player-nameSelected]="playerSelections[i]">{{ game.players[i] }}</span>
        </div>
    </div>
</div>

<div mat-dialog-actions>
    <button mat-button color="warn" (click)="closeDialog(false)">
        <span translate>No</span>
    </button>

    <button mat-button color="primary" (click)="closeDialog(true)" cdkFocusInitial>
        <span translate>Yes</span>
    </button>
</div>
