body {
    /* margin at the body has to be like in the user agent style sheet, it means; 8px. Otherwise it does not work.  */
    margin: 0 !important;
    /* height of the body should be 100 vh */
    height: 100vh !important;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    background-color: black;

    // border: 4px solid blueviolet;
}

/* safe-area */
app-root {
    background-color: #404040;

    // display: flex;
    // align-items: top;
    // justify-content: center;

    position: fixed;
    top: constant(safe-area-inset-top);
    top: env(safe-area-inset-top);
    left: constant(safe-area-inset-left);
    left: env(safe-area-inset-left);
    right: constant(safe-area-inset-right);
    right: env(safe-area-inset-right);
    bottom: constant(safe-area-inset-bottom);
    bottom: env(safe-area-inset-bottom);

    // border: 5px solid blue;
}

.mat-mdc-dialog-content {
    overflow-y: hidden;
}

@media (max-width: 280px) {
    .mat-mdc-dialog-content p {
        margin-bottom: 4px !important;
    }
}

.avatar-collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;

    .avatar-name-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }

    .avatar-img-border-bg {
        margin: 8px;
        background-color: rgba(230, 224, 224, 0.904);
        border: double 4px transparent;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 64px;
        height: 64px;
        transition: all 225ms ease-in-out;

        &:hover {
            cursor: pointer;
            filter: brightness(1.15);
            filter: drop-shadow(0px 0px 6px rgb(253, 225, 40));
            transform: scale(1.1);
        }

        &.avatarSelected {
            border: double 4px #3f51b5;
        }

        .avatar-img {
            border-radius: 100%;
            border: 1.9px solid rgb(87, 87, 87);
            width: 100%;
            height: 100%;
            object-fit: contain;
            box-sizing: border-box;
            padding: 3px;
        }

        .player-name {
            justify-content: center;
            margin: 0 0 8px 0;
            font-size: 12px;
            font-weight: 500;
            color: rgb(38, 38, 38);
            text-size-adjust: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            width: 60px;
            text-align: center;

            &.player-nameSelected {
                font-weight: 590;
                color: #3f51b5;
            }
        }
    }
}

mat-form-field {
    display: inline !important;
}