<mat-card [class.moveDownTop]="hidden" (click)="moveDownTop()">
    <!-- Either this or that, i.e., if 'card' is 'undefined' at game start, then display this. Otherwise, 'title'. -->
    <mat-card-title>
      {{ card ? (title | translate) : ('Please pick a card' | translate) }}
    </mat-card-title>
  
    <!-- Either this or that, i.e., if 'card' is 'undefined' at game start, then display this. Otherwise, 'description'. -->
    <mat-card-content>
      {{ card ? (description | translate) : ('Please click on the card stack to select the next card.' | translate) }}
    </mat-card-content>
  </mat-card>  